img {
  width: 200px;
  height: 150px;
}

.res-card > img {
  width: 100%;
}

.res-card {
  width: 200px;
  border: 1px solid black;
  margin: 5px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid black;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 5px;
}
.nav-items li {
  margin: 5px;
  font-size: medium;
  font-weight: bold;
}

h4,
h5 {
  margin: 1px;
  padding: 2px;
}
.search {
  margin: 5px;
  border: 1px solid black;
}

.body {
  padding: 5px;
  border: 1px solid black;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.shimer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimer-cards {
  width: 200px;
  height: 300px;
  border: 1px solid black;
  background-color: #f0f0f0;
  margin: 5px;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}
.menu-items {
  display: inline-table;
  align-items: center;
  margin: 10px;
  width: 1000px;
  height: 20px;
  border: 1px solid black;
  background-color: #f0f0f0;
}
.menu-items > p {
     margin-left: 20px;
}
